.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  position: relative;
  color: $textColor;
  min-width: 80px;
  justify-content: center;

  &.has-icon {
    padding-left: 30px;
  }

  .icon {
    color: $accentColor;
    font-size: 0.9rem;
    position: absolute;
    left: 5px;
  }
}
