.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    position: relative;
    color: $textColor;
    min-width: 80px;
    justify-content: center;

    &.has-icon {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .icon {
        color: $accentColor;
        font-size: calc(#{$widgetHeight} & 0.4);
        margin-right: 10px;

        &.owi {
            transform: scale(1.4);
            margin-top: -1px;
        }
    }
}
