.widget {
    &#spotify-jsx {
        order: 1;
    }

    &#weather-jsx {
        order: 2;
    }

    &#cpu-jsx {
        order: 3;
    }

    &#memory-jsx {
        order: 4;
    }

    &#date-jsx {
        order: 5;
    }

    &#time-jsx {
        order: 6;
    }

    &#battery-jsx {
        order: 7;
    }
}
