#uebersicht {
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    height: auto;
    border-radius: 3px;
    color: $textColor;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: $fontBody;
    font-weight: 300;
    overflow: hidden;
    border: none;
    justify-content: space-between;
    flex: 0 1 $widgetHeight;
    margin-bottom: 12px;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: $widgetHeight;
        z-index: -1;
        background: $bgColor;

        @extend .blur;
    }
}
