.widget {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin-right: 10px;
    height: $widgetHeight;
    flex: 1 0 auto;
    justify-content: center;

    &.none {
        display: none;
    }
}
