.battery {
    .icon {
        position: relative;
        display: block;
        width: 30px;
        height: 0.75rem;
        border: 1px solid $accentColor;
        border-radius: 2px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 50%;
            right: -4px;
            background: $accentColor;
        }

        &-charging {
            font-size: calc(#{$widgetHeight} * 0.5);
            margin-left: 10px;
            color: $accentColor;
        }

        .amount {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            background-color: $accentColor;
            left: 0;
        }
    }
}