$margin: 20px;
$accentColor: #42FDDC;
$borderColor: #413F52;
$errorColor: tomato;
$bgColor: rgba(0,0,0,0.3);
$textColor: white;
$mutedColor: #DDD;
$bgBlur: 20px;
$fontBody: 'Quicksand', sans-serif;
$widgetHeight: 1.8rem;
