@import 'style';

$margin: 20px;
$accentColor: $accent;
$borderColor: #413f52;
$errorColor: tomato;
$bgColor: rgba(0, 0, 0, 0.4);
$mutedColor: #ddd;
$greenColor: #5FB760;
$fontBody: "Quicksand", sans-serif;
$widgetHeight: 1.6rem;
$black: #111;
